
body{
    background-color: gray;
}

.gridBody{
    display: grid;

    grid-template-areas: 
    "navBar"
    "head"
    "card"
    "photo"
    "contact"
    "map"
    "feet"
    ;
  
}