header{
    
    grid-area: head;

    margin-top: 0.5vh;
    background-color: #fff;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.largeLogo{
    width: 20%;
    
}